body{
	color: blue;
}

.question1{
	background-color: yellow;
}

.question2{
	background-color: yellow;
}

.question3{
	background-color: yellow;
}

.question4{
	background-color: yellow;
}

.question5{
	background-color: yellow;
}